{
    "parser": "babel-eslint",
    "plugins": [
      "react"
    ],
    "ecmaFeatures": {
        "modules": true,
        "jsx": true,
        "experimentalObjectRestSpread": true
    },
    "env": {
        "amd": true,
        "browser": true,
        "es6": true,
        "jquery": true,
        "node": true
    },
    "rules": {
        "comma-dangle": [
            2,
            "never"
        ],
        "no-cond-assign": 2,
        "no-debugger": 2,
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-empty": 2,
        "no-empty-function": 2,
        "no-func-assign": 2,
        "no-sparse-arrays": 2,
        "eqeqeq": 2,
        "no-eval": 2,
        "no-magic-numbers": 0,
        "no-lone-blocks": 2,
        "no-redeclare": 2,
        "no-unused-expressions": 0,
        "no-useless-concat": 2,
        "no-unused-vars": 2,
        "no-use-before-define": 2,
        "no-lonely-if": 2,
        "no-mixed-spaces-and-tabs": 2,
        "new-cap": 2,
        "indent": [
            2,
            2,
            {
                "VariableDeclarator": {
                    "var": 2,
                    "let": 2,
                    "const": 3
                }
            }
        ],
        "vars-on-top": 2,
        "semi": 2,
        "react/jsx-uses-vars": 2,
        "react/jsx-uses-react": 2
    },
    "parserOptions": {
        "sourceType": "module",
    }
}
